.server-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  justify-content: center;
  margin-top: 70px;
}

.server-title-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.server-title-container p {
  font-size: 23px;
  font-weight: bold;
}

.server-title-container a, 
.server-title-container p {
  color: #7BFDF8;
  margin: 10px 10px;
  transition: 350ms;
}

.server-title-container a:hover {
  color: #F3BAFE;
  cursor: pointer;
}

.create-post-btn button {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 5px;
  color: #7BFDF8;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-top: 15px;
  padding: 10px;
  width: 200px;
  transition: 350ms; 
}

.create-post-btn button:hover {
  border-color: #F3BAFE; 
  color: #F3BAFE;
  cursor: pointer;
  transform: scale(1.005);
  transition-duration: 0.55s;
}

.post-container {
  max-width: 600px;
  width: 70%;
}

.post {
  border: 2px solid #7BFDF8;
  border-radius: 10px;
  color: #7BFDF8;
  margin: 40px 0;
  overflow-wrap: break-word;
  padding: 30px 20px;
}

.post-username {
  font-size: 14px;
}

.post-title {
  font-size: 18px;
  font-weight: 500;
}

.post img {
  border-radius: 5px;
  max-width: 70%;
}

.post-text {
  font-size: 15px;
  margin-top: 20px;
}

.post a, .post button {
  color: #7BFDF8;
  background-color: transparent;
  border: none;
  font-size: 15px;
  text-decoration: none;
  transition: 350ms;
}

.post a:hover, .post button:hover {
  color: #F3BAFE;
  cursor: pointer;
}

.post-comments {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .post-container {
    width: 80%;
  }
}