.join-title {
  color: #7BFDF8;
  font-size: 20px;
}

.join-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.join-container input {
  background-color: transparent;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  border-bottom: 2px solid #7BFDF8;
  color: #7BFDF8;
  margin: 20px 0 5px 0;
  width: 50vw;
}

.join-container input:focus {
  background-color: #232e3e;
  border-radius: 2px;
  outline: 2px solid #2A374A;
}

.join-container label {
  color: #7BFDF8;
  font-size: 15px;
}

.password-check {
  color: #7BFDF8;
}

.join-container button {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 5px;
  color: #7BFDF8;
  font-size: 15px;
  padding: 5px;
  width: 50vw;
}

.already-joined, .already-joined a {
  color: #7BFDF8;
}

.already-joined a {
  font-weight: bold;
  text-decoration: none;
}
