.join-container {
  font-family: 'Fira Sans', sans-serif;
  margin: 70px 0 50px 0;
}

.join-title p {
  color: #7BFDF8;
  font-size: 20px;
  padding-top: 30px;
}

.join-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.join-container input {
  background-color: transparent;
  border-left: 2px solid #2A374A;
  border-right: 2px solid #2A374A;
  border-top: 2px solid #2A374A;
  border-bottom: 2px solid #7BFDF8;
  color: #7BFDF8;
  height: 30px;
  margin: 10px 0 5px 0;
  width: 50vw;
}

.join-container input:focus {
  background-color: #232e3e;
  border: none;
  outline: 2px solid #2A374A;
}

.join-container input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px #232e3e inset;
  -webkit-text-fill-color: #7BFDF8;
}

.join-container label {
  color: #7BFDF8;
  font-size: 15px;
}

.password-check {
  color: #7BFDF8;
}

.join-container button {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 5px;
  color: #7BFDF8;
  font-size: 15px;
  margin: 35px 0 20px 0;
  padding: 5px;
  width: 50vw;
  transition: 350ms;
}

.join-container button:hover {
  border-color: #F3BAFE; 
  color: #F3BAFE;
  cursor: pointer;
  transform: scale(1.005);
  transition-duration: 0.55s;
}

.already-joined, .already-joined a {
  color: #7BFDF8;
}

.already-joined a {
  font-weight: bold;
  text-decoration: none;
  transition: 350ms;
}

.already-joined a:hover {
  color: #F3BAFE;
  cursor: pointer;
}

.join-container input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px #232e3e inset;
  -webkit-text-fill-color: #7BFDF8;
}


@media screen and (max-width: 900px) {
  .join-container input, .join-container button {
    width: 70vw;
  }
}

