.create-post-container {
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 70px;
}

.create-post-container form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.create-post-container input, 
.create-post-container textarea {
  margin: 10px;
}

.create-post-container p {
  font-size: 20px;
  padding-top: 30px;
}

.create-post-container label {
  font-size: 14px;
}

.create-post-container input {
  background-color: transparent;
  border-left: 2px solid #2A374A;
  border-right: 2px solid #2A374A;
  border-top: 2px solid #2A374A;
  border-bottom: 2px solid #7BFDF8;
  color: #7BFDF8;
  height: 30px;
  margin: 10px 0 5px 0;
  max-width: 600px;
  width: 50vw;
}

.create-post-container input:active {
  color: #7BFDF8;
}

.create-post-container input:focus,
.create-post-container textarea:focus {
  background-color: #232e3e;
  border: none;
  outline: 2px solid #2A374A;
}

.create-post-container textarea {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 5px;
  color: #7BFDF8;
  height: 100px;
  max-width: 600px;
  width: 50vw;
}

.create-post-container ::placeholder {
  color: #7BFDF8;
  padding: 5px 0 0 10px;
}

.create-post-container input[type='file'] {
  display: none;
}

.file-div {
  margin: 10px;
  max-width: 600px;
  width: 50vw;
}

.file-label {
  align-items: center;
  display: flex;
  transition: 350ms;
}

.file-label:hover {
  color: #F3BAFE;
  cursor: pointer;
}

.create-post-container button {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 5px;
  color: #7BFDF8;
  font-size: 15px;
  margin-bottom: 50px;
  max-width: 600px;
  padding: 8px;
  width: 50vw;
}

.create-post-container button:hover {
  border-color: #F3BAFE;
  color: #F3BAFE;
  cursor: pointer;
  transform: scale(1.005);
}

@media screen and (max-width: 900px) {
  .create-post-container input,
  .create-post-container textarea, 
  .create-post-container button,
  .file-div {
    width: 70vw;
  }
}