.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
}

.search-bar {
  border: 2px solid #7BFDF8;
  border-radius: 10px;
  color: #7BFDF8;
  display: flex;
  margin: 30px 0 10px 0;
  padding: 8px 0 8px 10px;
  text-align: left;
  width: 50vw;
}

.search-bar:hover {
  color: #F3BAFE;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  width: 80%
}

.search-bar ::placeholder {
  color: #7BFDF8;
}

.search-bar input:focus {
  background-color: #232e3e;
  border: none;
  outline: 2px solid #2A374A;
}

.search-bar input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px #232e3e inset;
  -webkit-text-fill-color: #7BFDF8;
}

.not-exist-question {
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
}

.not-exist-question a {
  color: #7BFDF8;
  font-weight: bold;
  text-decoration: none;
  transition: 350ms;
}

.not-exist-question a:hover {
  color: #F3BAFE;
  cursor: pointer;
}

.search-loader {
  align-items: center;
  display: flex;
  justify-content:space-between;
  margin: 40px 0;
  width: 100px;
}

.searched-server-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

.searched-server-container button {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 10px;
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  height: 40px;
  margin: 20px;
  width: 200px;
}

.searched-server-container button:hover {
  border-color: #F3BAFE;
  color: #F3BAFE;
  cursor: pointer;
  transform: scale(1.005);
}