.call-to-action img {
  width: 100vw;
  padding: 0;
  display: block;
  max-height: 890px;
  object-fit: cover;
}

.carousel-container {
  align-items: center;
  display: flex;
  justify-content: center;

}

.carousel {
  width: 70%;
}

.carousel-posts {
  /* align-content: center; */
  /* display: flex;
  justify-content: center; */
  /* margin: 0 auto; */
  display: inline-block;
  width: 500px;
}

.testing {
  /* width: 90%; */
}

.carousel a, .carousel p {
  color: #7BFDF8;
  text-decoration: none;
}

