.home-container {
  margin-top: 70px;
}

.header-container {
  position: relative;
}

.header-container img {
  display: block;
  max-height: 890px;
  object-fit: cover;
  padding: 0;
  width: 100vw;
}

.call-to-action {
  background-color: #b8b4ee46;
  border-radius: 15px;
  color: #2A374A;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 500;
  height: 70%;
  justify-content: center;
  left: 60px;
  max-height: 500px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 35%;
}

.call-to-action p {
  padding: 0 30px 5px 30px;
}

.call-to-action button {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 10px;
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.2vw;
  padding: 20px;
  transition: 350ms;
  width: 70%;
}

.call-to-action button:hover {
  border-color: #F3BAFE;
  color: #F3BAFE;
  cursor: pointer;
  transform: scale(1.005);
  transition-duration: 0.55s;
}

.carousel-container {
  align-items: center;
  display: flex;
  height: 35vh;
  justify-content: center;
}

.carousel {
  width: 70%;
}

.carousel-posts {
  display: inline-block;
  width: 70%;
}

.carousel a, .carousel p {
  color: #7BFDF8;
  text-decoration: none;
  transition: 350ms;
}

.carousel a:hover, .carousel p:hover {
  color: #F3BAFE;
  cursor: pointer;
}

.carousel-username {
  font-size: 15px;
}

.carousel-title {
  font-size: 19px;
}
