.home-container {
  margin-top: 70px;
}

.header-container {
  position: relative;
}

.header-container img {
  display: block;
  max-height: 890px;
  object-fit: cover;
  padding: 0;
  width: 100vw;
}

.call-to-action {
  background-color: #b8b4ee46;
  border-radius: 15px;
  color: #2A374A;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 500;
  height: 70%;
  justify-content: center;
  left: 60px;
  max-height: 500px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 35%;
}

.call-to-action p {
  padding: 0 30px 5px 30px;
}

.call-to-action a {
  text-decoration: none;
}

.call-to-action button {
  background-color: transparent;
  border: 2px solid #7BFDF8;
  border-radius: 10px;
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.2vw;
  padding: 20px;
  transition: 350ms;
  width: 70%;
}

.call-to-action button:hover {
  border-color: #F3BAFE;
  color: #F3BAFE;
  cursor: pointer;
  transform: scale(1.005);
  transition-duration: 0.55s;
}

.carousel-container {
  align-items: center;
  display: flex;
  height: 35vh;
  justify-content: center;
}

.carousel {
  border: 2px solid #7BFDF8;
  border-radius: 10px;
  padding: 30px 20px;
  width: 50%;
}

.carousel-title {
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  font-size: clamp(21px, 2.7vw, 27px);
  font-weight: 500;
  margin: 0 0 20px 0;
}

.carousel-servers {
  display: inline-flex;
  width: 70%;
}

.carousel-servers a, .carousel-servers p {
  color: #7BFDF8;
  font-family: 'Fira Sans', sans-serif;
  font-size: clamp(18px, 2vw, 22px);
  margin: 0 auto;
  text-decoration: none;
  transition: 350ms;
}

.carousel-servers a:hover, .carousel-servers p:hover {
  color: #F3BAFE;
  cursor: pointer;
}

.makeStyles-itemWrapper-3 {
  align-items: flex-end;
  display: flex;
}

@media screen and (max-width: 800px) {
  .call-to-action {
    font-size: 2.2vw;
    left: 30px;
  }
  
  .call-to-action button {
    font-size: 2vw;
    padding: 10px;
  }

  .carousel {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .header-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .header-container img {
    display: none;
  }

  .call-to-action {
    background-color: #b8b4ee30;
    border: 2px solid #F3BAFE;
    color: #7BFDF8;
    font-size: 5vw;
    height: 70%;
    left: 0;
    letter-spacing: 1px;
    height: 300px;
    margin-top: 50px;
    position: relative;
    top: 0;
    width: 80%;
  }

  .call-to-action button {
    font-size: 4vw;
    padding: 15px;
  }

  .carousel {
    padding: 30px 0px;
    width: 80%;
  }
} 